//index

@media (max-width:576px){
    .layout-index{
        grid-template-columns: auto;
        grid-template-rows: repeat(8, 250px);
        grid-template-areas:
        "jeans"
        "camisas"
        "remeras"
        "zapatillas"
        "joggins"
        "camperas"
        "relojes"
        "perfumes";
        width: 90%;
        margin: 30px auto;
    }

    .tittle{
        padding: 100px;
    }

    .dinamico .dinamico-div{
        width: 90%;
        margin: 5% auto;
    }

    .dinamico .dinamico-div .form-content input{
        width: 300px;
    }
}

// quienes somos

@media (max-width:576px){
    .layout-acerca{
        width: 90%;
        margin: 30px auto;
        .logo-acerca{
            @include sizes(100px,100px);
        }
        .acerca-content{
            margin: 30px 0;
            padding: 0 5%;
        }
    }
}

@media (max-width:768px){
    .acerca-content{
        padding: 0 10%;
    }
}

@media (max-width:992px){
    .acerca-content{
        padding: 0 15%;
    }
}

// camisas jeans joggins zapatillas remeras

@media (max-width:768px){
    .layout-ropa{
        grid-template-columns: auto;
        grid-template-rows: repeat(9, 350px);
        grid-template-areas:
        "tarjeta1"
        "tarjeta2"
        "tarjeta3"
        "tarjeta4"
        "tarjeta5"
        "tarjeta6"
        "tarjeta7"
        "tarjeta8"
        "tarjeta9";
        width: 90%;
        margin: 30px auto;
    }
}

// perfumes

@media (max-width:768px){
    .layout-perfumes{
        grid-template-columns: auto;
        grid-template-rows: repeat(8, 250px);
        grid-template-areas:
        "tarjeta1"
        "tarjeta2"
        "tarjeta3"
        "tarjeta4"
        "tarjeta5"
        "tarjeta6"
        "tarjeta7"
        "tarjeta8"
        "tarjeta9";
        width: 90%;
        margin: 30px auto;
    }
}

// camperas

@media (max-width:768px){
    .layout-camperas{
        grid-template-columns: auto;
        grid-template-rows: repeat(8, 400px);
        grid-template-areas:
        "tarjeta1"
        "tarjeta2"
        "tarjeta3"
        "tarjeta4"
        "tarjeta5"
        "tarjeta6"
        "tarjeta7"
        "tarjeta8"
        "tarjeta9";
        width: 90%;
        margin: 30px auto;
    }
}

//relojes zapatillas

@media (max-width:678px){
    .layout-relojes{
        grid-template-columns: auto;
        grid-template-rows: repeat(8, 400px);
        grid-template-areas:
        "tarjeta1"
        "tarjeta2"
        "tarjeta3"
        "tarjeta4"
        "tarjeta5"
        "tarjeta6"
        "tarjeta7"
        "tarjeta8";
        width: 90%;
        margin: 30px auto;
    }
}